[user]
  email = yusukeshib@gmail.com
  name = Yusuke Shibata
  signingkey = 9713357B7C9A3B92

[core]
  editor = nvim
  pager = delta

[commit]
  gpgsign = true

[push]
  default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
  side-by-side = false
  syntax-theme = base16

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[init]
  defaultBranch = main
