[user]
  email = yusukeshib@gmail.com
  name = Yusuke Shibata
  signingkey = DE78789F9B28DC95C1A99481E0C042B0A1F17C2A

[core]
  editor = nvim
  # pager = less -x1,3

[commit]
  gpgsign = true

[push]
  default = current

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[diff]
  colorMoved = default
