[user]
  name = Yusuke Shibata
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFHU+tFJRax7dVnTEiFM2+kwasijxiQ/GxXm0UqOXTTE

[core]
  editor = nvim
  pager = delta

[commit]
  gpgsign = true

[push]
  default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
  side-by-side = false
  syntax-theme = base16

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[init]
  defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
