zstyle ':zim:git' aliases-prefix 'G'

zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule utility
zmodule duration-info
zmodule git-info
zmodule asciiship
zmodule zsh-users/zsh-completions
zmodule completion
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
zmodule exa
zmodule fzf
zmodule ssh
zmodule Aloxaf/fzf-tab
zmodule direnv
zmodule jonmosco/kube-ps1
